@import "tailwindcss";

@theme {
  --color-primary: #6B8E8F;           /* Tranquil Teal */
  --color-primary-hover: #557E7F;     /* Deeper Teal */
  --color-accent: #D9BBA9;            /* Soft Sandstone */
  --color-background: #F4F7F6;        /* Light Mist */
  --color-surface: #FFFFFF;           /* Pure White */
  --color-border: #D1D5DB;            /* Gentle Gray */
  --color-base: #1F2937;         /* Deep Slate */
  --color-muted: #6B7280;        /* Muted Gray */
}


body {
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
